<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8ZcFKatI8PVmNdjjgZhKgxFoXsOjUq9M</string>
	<key>GCM_SENDER_ID</key>
	<string>1049993954855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itgenius.androidIosNotiapp</string>
	<key>PROJECT_ID</key>
	<string>android-ios-noti</string>
	<key>STORAGE_BUCKET</key>
	<string>android-ios-noti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049993954855:ios:df1d52f4d217ed28de3002</string>
</dict>
</plist>